/* ====== Layout utama ====== */
* {
  box-sizing: border-box;
}
.login-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: end;

  background: blue;

  font-family: "Inter", sans-serif;
  background-image: url(../../public/images/workspace.jpg);
  background-repeat: no-repeat;
}

.login-card-container {
  display: flex;
  align-items: center;
  min-height: 100vh;
  background: rgba(255, 255, 255, 0.9);
  padding: 0 5rem;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 180px;
  box-shadow: -8px 0 15px -5px rgba(0, 0, 0, 0.75);
}

.photo-container {
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;
}

.photo-container img {
  height: 3rem;
}

/* ====== Card ====== */
.login-card {
  width: 420px;
  text-align: left;
  padding: 2rem 1rem;
}

/* ====== Judul ====== */
.login-card .title {
  color: #3d3d3d;
  font-size: 1.75rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.login-card .subtitle {
  font-size: 14px;
  color: #666;
  margin-bottom: 24px;
}

/* ====== Form ====== */
.login-input {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.login-input input {
  padding: 12px;
  border: 1px solid #dcdcdc;
  border-radius: 2px;
  font-size: 14px;
  width: 100%;
  transition: border-color 0.2s;
}

.login-input input:focus {
  outline: none;
  border-color: #4b5563;
}

/* ====== Tombol Login ====== */
.login-input button {
  background: #2d3e50;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 2px;
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
  margin-top: 6px;
  transition: opacity 0.2s;
}

.login-input button:hover {
  background-color: #1f2b38;
}

/* Responsive */
@media (max-width: 480px) {
  .login-card {
    width: 90%;
  }
}
